:root {
  --background: #f7df1e;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  text-transform: capitalize;
}

body[data-theme="default"] {
  background: var(--background);
}

body[data-theme="red"] {
  background: #c30;
}

body[data-theme="green"] {
  background: #42b883;
}

body[data-theme="blue"] {
  background: rgb(8, 126, 164);
}

body[data-theme="gold"] {
  background: #f7df1e;
}